In [23]:
for i in range(1,4):
    for j in range(1,4):
        print(i,end=" ")
    print()

1 1 1
2 2 2
3 3 3

In [32]:
rows=int(input())
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

12
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12

1
1 2
1 2 3
1 2 3 4

In [40]:
rows=int(input())
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [41]:
rows=5
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

1
2 3
4 5 6
7 8 9 10

In [51]:
k=1
for i in range(1,5):
    for j in range(1,i+1):
        print(k,end=" ")
        k=k+1
    print()

1
2 3
4 5 6
7 8 9 10

In [67]:
k=5
for i in range(1,6):
    for j in range(1,i+1):
        print(k,end=" ")
    k=k-1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [65]:
k=5
i=1
while i<=5:
    j=1
    while j<=i:
        print(k,end=" ")
        j=j+1
    i=i+1
    k=k-1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [63]:
for i in range(5,3,-1):
    for j in range(1,9):
        print(i,end=" ")
    print()

5 5 5 5 5 5 5 5
4 4 4 4 4 4 4 4