In [6]:
# Factorial of a number
def fact(x):    # x=5
    f=1         
    for i in range(x,0,-1):     
        f=f*i
    #print(f)
    return f


n=int(input())    #5
result=fact(n)    # result= 120
print("result is",result)

5
result is 120

In [ ]:
# Recursion
# When a function calls itself again and again

In [6]:
def fact(x):   # x=4
    if x == 1:
        return 1
    else:
        return (x * fact(x-1))   #  5 * fact(4)

n=int(input())    # 5
result=fact(n)    # result = fact(5)  
print("result is",result)

5
result is 120

# Anonymous function or Lambda Function

In [ ]:
# A function without having a name
# Single line function
# Not having return or def

Syntax:
Lambda multiple_arguments: expression

where expression returns an object and it is only one in the whole function
multiple_arguments used a comma to separate multiple arguments

In [10]:
def add_10(x): # Normal function definition
    return x+10

result=add_10(47)
print(result)

57

In [14]:
lambda_10=lambda x:x+10 #lambda function definition

print(lambda_10(49))

59

In [15]:
def sum(x,y,z):
    return x+y+z


r=sum(10,20,30)
print(r)

60

In [17]:
lambda_sum = lambda x,y,z:x+y+z


print(lambda_sum(12,20,30))

62

In [ ]:
#Lists
# Lists are used to store multiple items in a single variable
# Lists are created by just placing the sequence inside the square brackets[].

#Lists are mutable
#Lists are ordered and have a definite count
# Indexing in list start from 0

In [22]:
# Blank list 
list1 = []
print(list1)
  
# List having numbers
list1 = [2,4,6,8,2,4]
print(list1)
print(list1[4])  #  2
print(list1[-4])  #  6

# To know length of list
print(len(list1))   #6

list2 = ["Chitkara","University", "Punjab"]
print(list2[2])
  
# Nested list
list3=          [     ["Chitkara","university"],["Punjab"]         ]
print(list3)
print(list3[1])
print(list3[0][1])

[]
[2, 4, 6, 8, 2, 4]
2
6
6
Punjab
[['Chitkara', 'university'], ['Punjab']]
['Punjab']
Chitkara

In [26]:
# Adding elements

list1 = [2,4,6,8,2,4]
list1.append(7)
print(list1)

list2=[9,10]
list1.append(list2)
print(list1)
print(list1[7])


list1.insert(0,"Vinay")
print(list1)

list1.insert(7,18)
print(list1)

#Add multiple elements at one time at end of list
list1.extend([12,13,14,"great"])
print(list1)

[2, 4, 6, 8, 2, 4, 7]
[2, 4, 6, 8, 2, 4, 7, [9, 10]]
[9, 10]
['Vinay', 2, 4, 6, 8, 2, 4, 7, [9, 10]]
['Vinay', 2, 4, 6, 8, 2, 4, 18, 7, [9, 10]]
['Vinay', 2, 4, 6, 8, 2, 4, 18, 7, [9, 10], 12, 13, 14, 'great']

In [28]:
# Removing elements
list1 = [2,4,6,8,2,4]
list1.remove(6)
print(list1)

list1.remove(4)
print(list1)

list1.pop()# remove last element from list
list1.pop()
list1.pop()
print(list1)

[2, 4, 8, 2, 4]
[2, 8, 2, 4]
[2]

In [ ]:
#SLICING

In [45]:
list1 = [2,4,6,8,10,14]   # 0 1 2 3 4 5

s= list1[-1:-3:-1]
print(s)

sliced_list1=list1[1:5]   # 
print(sliced_list1)

sliced_list1=list1[::]
print(sliced_list1)

sliced_list1=list1[2:]
print(sliced_list1)


sliced_list1=list1[-2:-5:-1]
print(sliced_list1)

[14, 10]
[4, 6, 8, 10]
[2, 4, 6, 8, 10, 14]
[6, 8, 10, 14]
[10, 8, 6]

In [51]:
# List Comprehension

# To create new lists from other iterables like tuples, strings, arrays, lists, etc.

In [52]:
# SYNTAX

# newList = [ expression(element) for element in oldList if condition ]

In [37]:
# Even square
even_square = [x ** 2 for x in range(1, 21) if x % 2 == 0] 
print (even_square)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [38]:
even_square=[]
for x in range(1,21):
    if x%2==0:
        even_square.append(x**2)

print(even_square)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [43]:
fruits = ["apple", "banana", "orange", "kiwi", "mango","coconut"]

newlist = [x for x in fruits if "o" in x]

print(newlist)

['orange', 'mango', 'coconut']