In [ ]:
# Tuples are defined by enclosing the elements in parentheses () 
# Tuples are immutable.

In [1]:
t = ('abc','def',123,'ghi')
print(t)
print(t[0])

('abc', 'def', 123, 'ghi')
abc

In [2]:
print(t[-2])

123

In [4]:
print(t[1:3])

('def', 123)

In [5]:
t[1]='pqr'

TypeError: 'tuple' object does not support item assignment

In [2]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [8]:
t=(1,3,5,7)
print(t)
print(type(t))

(1, 3, 5, 7)
<class 'tuple'>

In [10]:
t=(12)
print(t)
print(type(t))    # Why output as integer

12
<class 'int'>

In [11]:
# Answer
# Parentheses are also used to define operator precedence in expressions, 
# Python evaluates the expression (12) as simply the integer 12 and creates an int object. 
# To tell Python that you really want to define a singleton tuple, 
# include a trailing comma (,) just before the closing parenthesis

In [3]:
t=(12,)
print(t)
print(type(t))

(12,)
<class 'tuple'>

In [12]:
t=1,3,5,7
print(t)
print(type(t))

(1, 3, 5, 7)
<class 'tuple'>

In [19]:
a='abc'
b='def'
print("Before swapping a value {} and b value {}".format(a,b))
a,b=b,a
print("After swapping a value {} and b value {}".format(a,b))

Before swapping a value abc and b value def
After swapping a value def and b value abc

In [21]:
# Tuples are ordered

tup1=(1,3,5,7)
tup2=(3,5,1,7)
print(tup1==tup2)
print(tup1 is tup2)

False
False

In [4]:
# Important Point
str = 'abcdef'
str[:]
print(id(str[:]))
print(id(str))
str[:] is str

# NOTE
#If str is a string, str[:] returns a reference to the same object

2508103259760
2508103259760

True

In [24]:
list1 = ['abc','def','pqr',245]
list1[:]
print(id(list1[:]))
print(id(list1))
list1[:] is list1

#Conversely, if list1 is a list, 
# list1[:] returns a new object that is a copy of a:

2696011059840
2696010034496

False

In [32]:
tup2=(1,3,5,(11,13,15),'abc')
print(tup2)
print(tup2[2])
print(tup2[3])
print(tup2[3][2])
print(tup2[3][-1])

(1, 3, 5, (11, 13, 15), 'abc')
5
(11, 13, 15)
15
15

In [12]:
t5=(1,2,3) 
print(id(t5)) 

t5=(1,2,3,4,5,6)
print(id(t5))

2508103649856

TypeError: 'tuple' object does not support item assignment

In [37]:
t1=(1,2,3)               
t2=(4,5,6)    
print(id(t1)) 
t1=t1+t2     
print(id(t1))
print(t1)

2696009836544
2696009736000
(1, 2, 3, 4, 5, 6)

In [56]:
# for loop 
t1=(22,24,26,28)
for i in t1:
    print(i)

22
24
26
28

In [59]:
# for loop for index numbers
t1=(22,24,26,28)
for i in range(len(t1)):
    print(t1[i])

22
24
26
28

In [60]:
# while loop
t1=(22,24,26,28)
i = 0
while i < len(t1):
  print(t1[i])
  i = i + 1

22
24
26
28

In [13]:
# How to modify value of a tuple
t1=(1,2,3,4)
print(id(t1))
t1=list(t1)  # Convert to list

t1[2]=11     # Modifying value
print(t1)
t1=tuple(t1) # Convert back to tuple from list
print(t1)
print(id(t1))

2508103324752
[1, 2, 11, 4]
(1, 2, 11, 4)
2508103324752

In [48]:
# PAcking and unpacking

tup1=("banana","cherry","apple")
print(tup1)

(yellow,red,green)=tup1
print(yellow)
print(red)
print(green)

('banana', 'cherry', 'apple')
banana
cherry
apple

In [52]:
tup1=("banana","cherry","apple","apricot","black plum")
print(tup1)

(yellow,red,*green)=tup1
print(yellow)
print(red)
print(green)

('banana', 'cherry', 'apple', 'apricot', 'black plum')
banana
cherry
['apple', 'apricot', 'black plum']

In [16]:
tup1=("banana","cherry","apple","apricot","black plum")
print(tup1)

(*yellow,red,green)=tup1
print(yellow)
print(red)
print(green)

('banana', 'cherry', 'apple', 'apricot', 'black plum')
['banana', 'cherry', 'apple']
apricot
black plum

# Count method

In [18]:
t1 = (11, 23, 17, 23, 17, 11, 34, 16, 11, 17)

x = t1.count(17)

print(x)

i=t1.index(17)
print(i)

3
2