In [2]:
 
#  Convert two lists convert it into the dictionary
    
keys = ['One', 'Two', 'Three']
values = [11, 22, 33]

In [3]:
Dict1 = dict(zip(keys, values))
print(Dict1)

{'One': 1, 'Two': 2, 'Three': 3}

In [21]:
test_keys = ["one", "two", "three"]
test_values = [11,22,33]


print ("Original key list is : " + str(test_keys))
print ("Original value list is : " + str(test_values))


res = {}
for key in test_keys:
    for value in test_values:
        res[key] = value
        test_values.remove(value)
        break


print ("Resultant dictionary is : " + str(res))

Original key list is : ['one', 'two', 'three']
Original value list is : [11, 22, 33]
Resultant dictionary is : {'one': 11, 'two': 22, 'three': 33}

In [17]:
keys=["one","two","three"]
values=[1,2,3]
x=dict(map(lambda x,y:(x,y) ,  keys, values))
print(x)

{'one': 1, 'two': 2, 'three': 3}

# Merge following two Python dictionaries into one

dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'ictFour': 4, 'Five': 5, 'Six': 6}

In [24]:
dict3 = {**dict1, **dict2}
print(dict3)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [6]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [7]:
# Access value

In [34]:
Dict3 = { 
   "class":{ 
      "student":{ 
         "name":"Vikas",
         "marks":{ 
            "maths":82,
            "python":88
         }
      }
   }
}

In [39]:
print(Dict3['class']['student']['marks']['python'])

88

In [11]:
# Rename key city to location in the following dictionary
Dict3 = {
  "name": "abc",
  "id":34,
  "sal": 7830,
  "city": "Patiala"
}

In [12]:
Dict3['location'] = Dict3.pop('city')
print(Dict3)

{'name': 'abc', 'id': 34, 'sal': 7830, 'location': 'Patiala'}

In [41]:
d = {"name": 'abc',"id": 34,'sal':7830,"city":'patiala'}
a=str(d)

x = a.replace('city' , 'location')
print(x)
print(type(x))

{'name': 'abc', 'id': 34, 'sal': 7830, 'location': 'patiala'}
<class 'str'>